body{
    background-image: url(/Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
p{
    color: rgb(251, 255, 0);
    background-color:black";
}
h1{
    color: rgb(240, 247, 240);
    font-family: "Rubik Bubbles", sans-serif;
    font-style: italic;
}

#adv{
    color: rgb(255, 254, 254);
    border-style: dashed;
    border-width: 5px;
    border-color: gold;
    padding: 5px;
}

.imp{
    background-color: rgb(243, 250, 250);
}

#goal{
    color: rgb(245, 247, 245); font-size:5mm;
    background: linear-gradient(to bottom, grey, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}